@keyframes loader {
    0%, 98% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loader {
    animation: loader 2s linear forwards;
}

@keyframes loader-scale {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(.2);
    }
}

.loader div {
    animation: loader-scale 2s ease-in-out infinite;
}

.loader div:nth-child(1) {
    animation-delay: 0.1s;
}

.loader div:nth-child(2) {
    animation-delay: 0.3s;
}

.loader div:nth-child(3) {
    animation-delay: 0.5s;
}

@keyframes navbar-bounce {
    0% {
        transform: translateY(-38px);
    }

    100% {
        transform: translateY(4px);
    }
}

.navbar {
    animation: navbar-bounce .5s 2s linear forwards;
}

@keyframes text-section-bouce {
    0% {
        transform: translateX(-38px);
    }

    100% {
        transform: translateX(2px);
    }
}

.text-section {
    animation: text-section-bouce .5s 2s linear forwards;
}

@keyframes hero-section-bounce {
    0% {
        transform: translateX(160px);
    }

    100% {
        transform: translateX(140px);
    }
}

.hero-section {
    animation: hero-section-bounce .5s 2s linear forwards;
}

@keyframes text-vertical-opacity {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }
}

.text-vertical {
    animation: text-vertical-opacity 4s 2s linear forwards;
}

@keyframes footer-bounce {
    0% {
        transform: translateY(200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

footer {
    opacity: 0;
    animation: footer-bounce .5s 2.5s linear forwards;
}

@keyframes div-footer-bounce {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(-100px);
    }

    20% {
        transform: translateY(-110px);
    }

    30% {
        transform: translateY(-130px);
    }

    40% {
        transform: translateY(-140px);
    }

    50% {
        transform: translateY(-150px);
    }

    60% {
        transform: translateY(-160px);
    }

    70% {
        transform: translateY(-170px);
    }

    80% {
        transform: translateY(-180px);
    }

    90% {
        transform: translateY(-190px);
    }

    100% {
        transform: translateY(-200px);
    }
}

.animation-section div:first-child {
    animation: div-footer-bounce .3s 3s linear forwards;
}

.animation-section div:nth-child(2) {
    animation: div-footer-bounce .3s 3.4s linear forwards;
}

.animation-section div:nth-child(3) {
    animation: div-footer-bounce .3s 3.8s linear forwards;
}