:root {
    --blue: #016fb9;
    --red: #cf1212;
    --yellow: #ffd602;
    --text: #111d13;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    color: var(--text);
    font-family: 'Lato', sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 200px .8fr;

    height: 100%;
}

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    gap: 24px;
    z-index: 3;
}

.loader div {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: var(--yellow);
}

.navbar {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 10%;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    margin-top: 40px;
}

li:nth-child(1) {
    margin-left: 30px;
}

.navbar img {
    width: 50px;
    height: 50px;
}

.navbar ul li a {
    color: var(--red);
    text-decoration: none;
    font-weight: 300;
}

.text-section {
    position: relative;
    top: 120px;
    right: 130px;
    grid-column: 1;
    grid-row: 1 / span 3;
    font-size: 28px;
}

.text-section--light {
    font-weight: 200;
    margin-bottom: 0;
    padding-left: 240px;
    font-size: 40px;
}

.text-section--bold {
    font-weight: bolder;
    padding-left: 198px;
    margin: 0;
}

.text-section--text {
    position: relative;
    left: 40px;
    font-weight: 200;
    font-size: 18px;
    padding: 0 158px;
    text-align: left;
    color: var(--text);
}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--yellow);
    border: 5px solid var(--blue);
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

.image-container {
    position: relative;
    left: 160px;
    top: 20px;
    width: 125px;
    height: 125px;
    background-color: var(--blue);
    border-radius: 15% 15% 0% 0% / 30% 30% 0% 0%;
}

.hero-image {
    position: relative;
    bottom: 130px;
    right: 16px;
    width: 150px;
    height: 150px;
}

.iWantBtn {
    display: flex;
    justify-content: center;
}

.iWantModalBtn {
    width: 240px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 60px;
    background-color: var(--red);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.modal-btn--close {
    position: relative;
    bottom: 90px;
    left: 150px;
    z-index: 4;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.modal-visible {
    display: grid !important;
}

.modal-hidden {
    display: none !important;
}

.text-vertical {
    position: relative;
    right: 180px;
    bottom: 180px;
    display: flex;
    align-items: end;
    flex-direction: column;
    color: black;
    font-weight: 300;
    grid-column: 2;
    grid-row: 2;
    transform: rotate(-90deg);
    letter-spacing: 4px;
    text-align: center;
    font-size: 36px;
}

.hero-section-container {
    grid-column: 2 / span 3;
    grid-row: 2 / span 3;
}

.hero-section {
    position: relative;
    bottom: 144px;
    left: 40px;
    grid-column: 2;
    grid-row: 1 / span 3;
    width: 50%;
    height: auto;
}

.hero-section-painting {
    background-color: var(--yellow);
    grid-column: 3;
    grid-row: 1 / span 3;
}

.animation-section {
    display: flex;
    flex-direction: row;
    background-color: var(--yellow);
    grid-column: 1;
    grid-row: 3;
    border-radius: 0% 10% 0% 0% / 0% 50% 0% 0%;
    z-index: 1;
    align-items: end;
    padding: 0 80px;
    gap: 100px;
}

.animation-section div {
    position: relative;
    top: 200px;
    width: 125px;
    height: 95px;
    background-color: var(--blue);
    grid-column: 1;
    grid-row: 3;
    z-index: 1;
    border-radius: 15% 15% 0% 0% / 30% 30% 0% 0%;
}

.hero {
    transform: translateY(0px) scale(1);
    transition: transform 0.5s ease-in-out;
}

.hero:hover {
    cursor: pointer;
    transform: translateY(-20px) scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.spiderman,
.batman {
    position: relative;
    width: 125%;
    height: auto;
}

.spiderman {
    right: 20px;
    bottom: 100%;
}

.robin {
    position: relative;
    width: 150%;
    height: auto;
    bottom: 90%;
    right: 20%;
}

.batman {
    right: 10%;
    bottom: 105%;
}